@import "./variables/index";
@import "./functions/index";
@import "./mixins/index";

@font-face {
	font-family: 'IRANSansFaNum';
    src:  url('/assets/new/font/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
          url('/assets/new/font/IRANSansWeb(FaNum)_Bold.woff')  format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	font-weight: bold;
}

@font-face {
	font-family: 'IRANSansFaNum';
    src:  url('/assets/new/font/IRANSansWeb(FaNum).woff2')  format('woff2'),  /* Chrome36+, Opera24+*/
          url('/assets/new/font/IRANSansWeb(FaNum).woff')   format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	font-weight: normal;
}


@font-face {
	font-family: 'IRANSansEnNum';
    src:  url('/assets/new/font/IRANSansWeb_Bold.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
          url('/assets/new/font/IRANSansWeb_Bold.woff')  format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	font-weight: bold;
}

@font-face {
	font-family: 'IRANSansEnNum';
    src:  url('/assets/new/font/IRANSansWeb.woff2')  format('woff2'),  /* Chrome36+, Opera24+*/
          url('/assets/new/font/IRANSansWeb.woff')   format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	font-weight: normal;
}


.modal-content {
    padding: 20px;
    direction: rtl;
    text-align: right;

    .modal-header {
        .modal-title {
            color: $success;
        }

        .close {
            margin: 0;
            padding: 0;
        }
    }
}
.modal-backdrop{
    background-color:  rgba(0, 0, 0, 0.5)!important;
  }  
.toast-body{
    direction: rtl!important;
    font-family: IRANSansEnNum, sans-serif!important;
    svg{
        margin-left: 2px;
    }
    button{
        margin-right: 10px;
    }
}
body {
    #__nuxt {
        .cursor_pointer {
            cursor: pointer;
        }

        .xborder-danger{
            border: 0.8px solid lighten($red_salsa,10%);
        }
        .xborder-danger:focus,.xborder-danger:focus-within{
            outline: 0!important;
            box-shadow: 0 1px 1px #ff515a6e inset, 0 0 8px #ff515a6e!important;
        }

        .hv-center{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* for IE 9 */
            -webkit-transform: translate(-50%, -50%); /* for Safari */
           
        } 
        .body-hv-fit{
            min-height: calc(100vh - 100px);
            @include mx_medium {
                min-height: calc(100vh - 210px);
                margin-bottom: 50px;
            }
        }
        .VueCarousel-navigation-next::after {
            content: url('@/assets/images/icons/arrow-25-24.png');
          }
          .VueCarousel-navigation-prev::after {
            content: url('@/assets/images/icons/arrow-89-24.png');
            
        }
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s;
          }
        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
            opacity: 0;
        }
        .ck-editor__editable {
            min-height: 100px;
        }
        .text-decoration{
            padding-bottom: 5px;
            border-bottom: 1px solid $border_whitesmoke;
        }
    }
    .tooltip{
        @include mx_medium{
            display: none!important;
        }
    }
    .delete-filter{
        left:5px;
        bottom:25px;
        svg{
            color:silver;
            &:hover{
                color: $svg_color;
            }
        }
    }
}

