@import './resources/index';
@import './fonts';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

body{
    direction: rtl;
    box-sizing: border-box;
    background-color:whitesmoke;
}
