.modal-content {
    padding: 20px;
    direction: rtl;
    text-align: right;

    .modal-header {
        .modal-title {
            color: $success;
        }

        .close {
            margin: 0;
            padding: 0;
        }
    }

    .modal-footer {
        display: none!important;
    }
}
